<div class="acordion-list-titulo">Totilo 1</div>
<button class="acordion">Prod 1</button>
<div class="acordion-contenido">
    <img class="acordion-contenido-img" src="./img/item_01.png">
    <p>123123</p>
    <p>123456</p>
    <button class="btn animacion">
        <span>Aceptar</span>
    </button>
</div>
<button class="acordion">Prod 1</button>
<div class="acordion-contenido">
    <img class="acordion-contenido-img" src="./img/item_01.png">
    <p>123123</p>
    <p>123456</p>
    <button class="btn animacion">
        <span>Aceptar</span>
    </button>
</div>

<main>
    <section class="acordion-list">
    </section>
</main>

<script>
    function setAcordion(index) {
        

        console.log(index)
    }
</script>