<section class="adminNegocio-negocio">
    <div>
        <h2>Negocios</h2>
        <button class="btn animacion"><span>&#10010; Nuevo Negocio</span></button>
    </div>
</section>

<section class="adminNegocio-frm">
    <img src="/img/kartax/logo.png" alt="">
    <form>
        <label for="">Nombre del Negocio</label>
        <input type="text" name="nombre" id="nombre" placeholder="Kartax" readonly>
        <br>
        <label for="">Rut del Negocio</label>
        <input type="text" name="rut" id="rut" placeholder="00.000.000-0" readonly>
        <br>
        <label for="">Dirección</label>
        <input type="text" name="direccion" id="direccion" placeholder="Viña del Mar..." readonly>
        <br>
        <label for="">Logo</label>
        <input type="file" name="img" id="img" accept="image/png, image/gif, image/jpeg" readonly>
        <br>
        <label for="">Activo: <input type="checkbox" name="check" id="check" checked disabled></label>
        <div><hr></div>
        <button class="btn animacion"><span>Entrar a la Caja</span></button>
    </form>
</section>