<main>
    <section class="acordion-list">
    </section>
</main>

<script>
    // la constante API_LINK esta declarada en index.js en la carpeta publica
    
    // inicializa el acordion al cargarse por primera vez la pagina las (categorias Tipo Alimento)
    setAcordion(0);

    async function setAcordion(index) {
        let html = "";
        // Aplica la animacion de "cargando" que esta en el partial loading.hbs 
        const acordionList = document.querySelector(".acordion-list");
        acordionList.innerHTML = "";
        acordionList.appendChild(renderLoading())

        // se obtiene el Id del Tipo Alimento que se encuantra en la posicion actual del slide de imagenes
        const arrSlide = document.querySelectorAll(".slide");
        const IdTipoAlimento = arrSlide[index].id;

        try {
            // se obtiene la lista de Categorias de Items que pertenencen al Tipo Alimento seleccionado
            const itemCateg = await getFetch(`item-categ/IdTipoAlimento/${IdTipoAlimento}`);

            const aux = await itemCateg.map(async (eIC) => {
                // se obtienen todos los Items que pertenencen a cada Categoria de Item
                const item = await getFetch(`item/IdCateg/${eIC.id}`);

                html += `<div class="acordion-list-titulo">${eIC.nombre}</div>`

                item.forEach((eI) => {
                    html += `
                        <button class="acordion">${eI.nombre}</button>
                        <div class="acordion-contenido">
                            <img class="acordion-contenido-img" src=${eI.img}>
                            <p>${eI.descripcion}</p>
                            <p>$ <strong>${eI.precio}</strong> .-</p>
                            <button value=${eI.id} class="btn animacion">
                                <span>Agregar</span>
                            </button>
                        </div>`;
                });

                // se reemplaza la animacion de "cargando" por la lista de itemns dentro de sus categorias
                acordionList.innerHTML = "";
                acordionList.innerHTML = html;
                const arrAcordion = document.querySelectorAll(".acordion");
                arrAcordion.forEach(e => {
                    e.addEventListener("click", () => {
                        acordion_click(e);
                    });
                });

                // la funcion addItemCarrito se encuentra en el partial appComanda.hbs
                const arrBtnAgregar = document.querySelectorAll(".acordion-contenido button");
                arrBtnAgregar.forEach(e => {
                    e.addEventListener("click", () => {
                        addItemCarrito(e.value);
                    });
                });
            });
        } catch (err) {
            console.log(`Error: en la conexion a la API (Acordion linea 26), Detalle: ${err}`);
        };
    };

    // gatilla la animacion de apertura y cierre del acordion
    function acordion_click(obj) {
        obj.classList.toggle("active");
        let hijo = obj.nextElementSibling;

        if (hijo.style.maxHeight) {
            hijo.style.maxHeight = null;
        } else {
            hijo.style.maxHeight = hijo.scrollHeight + "px";
        };
    };
</script>