<main>
    <section class="acordion-list">
    </section>
</main>

<script>
    setAcordion(0);

    async function setAcordion(index) {
        let html = "";
        const acordionList = document.querySelector(".acordion-list");
        acordionList.innerHTML = "";
        acordionList.appendChild(renderLoading())
  
        const arrSlide = document.querySelectorAll(".slide");
        const IdTipoAlimento = arrSlide[index].id;

        const dataItemCateg = await fetch(`https://bsite.net/metalflap/demo-item-categ/IdTipoAlimento/${IdTipoAlimento}`);
        const itemCateg = await dataItemCateg.json();
  
        itemCateg.forEach(async (eIC) => {
            const dataItem = await fetch(`https://bsite.net/metalflap/demo-item/IdCateg/${eIC.id}`);
            const item = await dataItem.json();

            html += `<div class="acordion-list-titulo">${eIC.nombre}</div>`

            item.forEach((eI) => {
                html += `
                    <button class="acordion">${eI.nombre}</button>
                    <div class="acordion-contenido">
                        <img class="acordion-contenido-img" src=${eI.link}>
                        <p>${eI.descripcion}</p>
                        <p>$ <strong>${eI.precio}</strong> .-</p>
                        <button value=${eI.id} class="btn animacion">
                            <span>Agregar</span>
                        </button>
                    </div>`;
            });

            acordionList.innerHTML = "";
            acordionList.innerHTML = html;
            const arrAcordion = document.querySelectorAll(".acordion");
            arrAcordion.forEach(e => {
                e.addEventListener("click", () => {
                    acordion_click(e);
                });
            }); 

            const arrBtnAgregar = document.querySelectorAll(".acordion-contenido button"); 
            arrBtnAgregar.forEach(e => {
                e.addEventListener("click", () => {
                    addCarrito(e.value);
                })
            })
        });      
    };

    function acordion_click(obj) {
        obj.classList.toggle("active");
        let hijo = obj.nextElementSibling;

        if (hijo.style.maxHeight) {
            hijo.style.maxHeight = null;
        } else {
            hijo.style.maxHeight = hijo.scrollHeight + "px";
        };
    };

    const arrItemCarrito = [];

    function addCarrito(idItem) {
        arrItemCarrito.push({id: arrItemCarrito.length +1, idItem: idItem})
        console.log(arrItemCarrito)

        const contCarrito = document.querySelector(".carrito-cont");
        contCarrito.textContent = arrItemCarrito.length;
    }
</script>