<section>
    <div class="admin-menu">
        <img src="/img/menu/config.svg" title="Proveedores">
        <img src="/img/menu/inventario.svg" title="inventario">
        <img src="/img/menu/salidas.svg" title="Orden de Compra">
        <img src="/img/menu/calendario.svg" title="Calendario">
        <img src="/img/menu/calc.svg" title="Salida">
        <span class="comanda-btn2">&#x2715;</span>
    </div>
    <div class="objAbsoluto-admin">
        <div class="objAbsoluto-menu">
            <input type="text" placeholder="Ingrese Título">
            <input type="text" placeholder="Ingrese Descripción">
            <button class="btn animacion"><span>Agregar +</span></button>
            <div class="objAbsoluto-error"></div>
        </div>
        <div class="objAbsoluto-contenedor">
        </div>
    </div>
</section>

<script>
    const agregarObjAbsoluto = document.querySelector(".objAbsoluto-menu > button");
    agregarObjAbsoluto.addEventListener("click", () => {
        const txts = document.querySelectorAll(".objAbsoluto-menu > input");
        renderNewObjAbsoluto(txts[0].value, txts[1].value);
    });

    function renderNewObjAbsoluto(txt1, txt2) {
        const error = document.querySelector(".objAbsoluto-error");

        if (txt1 && txt2) {
            error.innerText = "";
        
            const objAbsoluto = document.createElement("span");
            objAbsoluto.classList.add("objAbsoluto");

            const div =  document.createElement("div");
            const strong =  document.createElement("strong");
            strong.textContent = txt1;
            div.appendChild(strong);
            objAbsoluto.appendChild(div);

            const span = document.createElement("span");
            span.innerText = txt2;
            objAbsoluto.appendChild(span);

            moverElemento(objAbsoluto);

            const objAbsolutoContenedor = document.querySelector(".objAbsoluto-contenedor");
            objAbsolutoContenedor.appendChild(objAbsoluto);
        } else {
            error.innerText = "Debe Ingresar Título y Descripción"
        }
    }

    function moverElemento(elmnt) {
        var pos1 = 0, pos2 = 0, pos3 = elmnt.style.top, pos4 = elmnt.style.left;

        elmnt.onmousedown = seleccionarElemento;

        function seleccionarElemento(e) {
            e = e || window.event;
            e.preventDefault();
            // get the mouse cursor position at startup:
            pos3 = e.clientX;
            pos4 = e.clientY;
            document.onmousemove = moverElemento;
            document.onmouseup = soltarElemento;
            // call a function whenever the cursor moves
        };
        
        function moverElemento(e) {
            e = e || window.event;
            e.preventDefault();
            // calculate the new cursor position:
            pos1 = pos3 - e.clientX;
            pos2 = pos4 - e.clientY;
            pos3 = e.clientX;
            pos4 = e.clientY;
            // set the element's new position:
            elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
            elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
        };
        
        function soltarElemento() {
            // stop moving when mouse button is released:
            document.onmousemove = null;
            document.onmouseup = null;
        };
    };
</script>