<main>
    <section class="acordion-list">
    </section>
</main>

<script>
    // la constante API_LINK esta declarada en index.js en la carpeta publica
    
    // inicializa el acordion al cargarse por primera vez la pagina las (categorias Tipo Alimento)
    setAcordion(0);

    async function setAcordion(index) {
        let html = "";
        // Aplica la animacion de "cargando" que esta en el partial loading.hbs 
        const acordionList = document.querySelector(".acordion-list");
        acordionList.innerHTML = "";
        acordionList.appendChild(renderLoading())

        // se obtiene el Id del Tipo Alimento que se encuantra en la posicion actual del slide de imagenes
        const arrSlide = document.querySelectorAll(".slide");
        const IdTipoAlimento = arrSlide[index].id;

        try {
            const resultado = await getFetch(`item-categ-e-items/${IdTipoAlimento}`);

            if (resultado.length > 0) {
                resultado.forEach(categ => {
                    html += `<div class="acordion-list-titulo">${categ.nombre}</div>`

                    categ.items.forEach(item => {
                        console.log(item.img)
                        html += `
                        <button class="acordion">${item.nombre}</button>
                        <div class="acordion-contenido">
                            <img class="acordion-contenido-img" src=${item.img}>
                            <p>${item.descripcion}</p>
                            <p>$ <strong>${item.precio}</strong> .-</p>
                            <button value=${item.id} class="btn animacion">
                                <span>Agregar</span>
                            </button>
                        </div>`;
                    });
                });
            };

            // se reemplaza la animacion de "cargando" por la lista de itemns dentro de sus categorias
            acordionList.innerHTML = "";
            acordionList.innerHTML = html;
            // evento click al btn del acordion para que se abra y cierre
            const arrAcordion = document.querySelectorAll(".acordion");
            arrAcordion.forEach(e => {
                e.addEventListener("click", () => {
                    acordion_click(e);
                });
            });
            // la funcion addItemCarrito se encuentra en el partial appComanda.hbs
            const arrBtnAgregar = document.querySelectorAll(".acordion-contenido button");
            arrBtnAgregar.forEach(e => {
                e.addEventListener("click", () => {
                    addItemCarrito(e.value);
                });
            });
        } catch (err) {
            console.log(`Error: en la conexion a la API (Acordion linea 26), Detalle: ${err}`);
        };
    };

    // gatilla la animacion de apertura y cierre del acordion
    function acordion_click(obj) {
        obj.classList.toggle("active");
        let hijo = obj.nextElementSibling;

        if (hijo.style.maxHeight) {
            hijo.style.maxHeight = null;
        } else {
            hijo.style.maxHeight = hijo.scrollHeight + "px";
        };
    };
</script>