<section class="comanda">
    <div>
        <div class="comanda-cabecera">
            <img src="/img/logo.png">
            <label class="comanda-titulo">COMANDA</label>
            <span class="comanda-btn2">&#x2715;</span>
        </div>
        <ul>
            <hr>
            <li>
                <label>Esto</label>
                <label>
                    <label>3000</label>
                    <span class="comanda-btn">&#x2715;</span>
                </label>
            </li>
            <hr>
            <li>
                <label>Esto</label>
                <label>
                    <label>3000</label>
                    <span class="comanda-btn">&#x2715;</span>
                </label>
            </li>
        </ul>
    </div> 
    <div class="comanda-total">
        <hr>
        <span><strong class="comanda-total">TOTAL: 0</strong></span>
        <span class="comanda-btn2">Hacer Pedido</span>
    </div>
</section>