<main class="pageMain">
    <section class="pageInfo">
        <h1>Bienvenid@ a Kartax</h1>
        <p>Esta es una aplicación de gestión de pedidos y administración de los
            mismos, para cualquier tipo de tienda o local que venda productos de
            alimentos y/o bebestibles, como: restaurantes, negocios o bares.</p>
        <p>Puedes revisar la DEMO de la APP en la sección “Demo” y/o registrarte
            para gestionar su uso.</p>
        <p>Puedes revisar el manual paso a paso en la seccion "Manual".</p>
        <p>La Aplicación es GRATUITA para el uso de gestión de pedidos, comanda
            y administración de mesas, sin embargo, está la versión de pago que
            tiene los siguientes Servicios Adicionales:</p>
        <ul>
            <li>Inventario</li>
            <li>Proveedores</li>
            <li>Orden de Compra</li>
            <li>Reportería</li>
            <li>Posible Integraciones con POS de Transbank</li>
            <li>Posible Integraciones con SII</li>
            <li>Entre otros...</li>
        </ul>
    </section>

    <section class="pagePhone">
        <h1>Demo</h1>
        <a target="_blank" href="/kartax">&centerdot; Link Ver Demo</a>
        <div class="phone">
            <iframe class="content" src="/kartax">

            </iframe>
        </div>
    </section>

    <section>
        <div class="fx-container">
            <div class="stringOrRow">
                <div class="fx-hexa"></div>
                <div class="fx-hexa"></div>
                <div class="fx-hexa"></div>
                <div class="fx-hexa"></div>
                <div class="fx-hexa"></div>
            </div>
            <div class="stringOrRow">
                <div class="fx-hexa"></div>
                <div class="fx-hexa"></div>
                <div class="fx-hexa"></div>
                <div class="fx-hexa"></div>
                <div class="fx-hexa"></div>
            </div>
            <div class="stringOrRow">
                <div class="fx-hexa"></div>
                <div class="fx-hexa"></div>
                <div class="fx-hexa"></div>
                <div class="fx-hexa"></div>
                <div class="fx-hexa"></div>
            </div>            
        </div>
    </section>
</main>