<section class="sesion-contenedor">
    <form class="sesion" action="/" method="post">
        <h2>Iniciar Sesión</h2>
        <input type="text" name="txtUser" onkeyup="this.value = this.value.toUpperCase();" placeholder="Usuario">
        <input type="password" name="txtPass" placeholder="Contraseña">
     
        <button class="btn animacion " name="btn1" onclick="this.value=1"><span>Iniciar</span></button>
        <button class="sesion-btn" name="btn1" onclick="this.value=2">Registrarse</button>
        <button class="sesion-btn" name="btn1" onclick="this.value=4">Ver Demo</button>
    </form>
</section>