<section class="sesion-contenedor">
    <form class="sesion" action="/iniciarSesion" method="post">
        <h2>Iniciar Sesión</h2>
        <input type="text" name="txtUser" onkeyup="this.value = this.value.toUpperCase();" placeholder="Usuario">
        <input type="password" name="txtPass" placeholder="Contraseña">
     
        <button class="btn animacion " name="btn1" onclick="this.value='iniciar'"><span>Iniciar</span></button>
        <button class="sesion-btn" name="btn1" onclick="this.value='demo'">Ver Demo</button>
        <label class="error" name="error">{{respuesta.msge}}</label>
    </form>
</section>