<section class="rrss-contenedor">
    <div class="rrss">
        <a target="_blank" href="https://es-la.facebook.com/">
            <img src="/img/RRSS/facebook2.svg">
        </a>
        <a target="_blank" href="https://www.instagram.com/">
            <img src="/img/RRSS/instagram1.svg">
        </a>
        <a target="_blank" href="https://twitter.com/">
            <img src="/img/RRSS/twitter2.svg">  
        </a>
        <a target="_blank" href="https://web.whatsapp.com/">
            <img src="/img/RRSS/whatsapp1.svg">  
        </a>
        {{!-- <img src="/img/RRSS/facebook1.svg"> --}}
        {{!-- <img src="/img/RRSS/github1.svg"> --}}
        {{!-- <img src="/img/RRSS/instagram2.svg"> --}}
        {{!-- <img src="/img/RRSS/linkedin1.svg"> --}}
        {{!-- <img src="/img/RRSS/twitter1.svg"> --}}
        {{!-- <img src="/img/RRSS/whatsapp2.svg">   --}}
        {{!-- <img src="/img/RRSS/whatsapp3.svg">   --}}
    </div>
</section>